@font-face {
    font-family: 'JalnanGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'JalnanGothic';
    text-align: center;
    background-image: url('https://zrr.kr/l1i0');
    background-size: cover;
    background-repeat: no-repeat;
}

#cat {
    width: 1000px;
    height: 535px;
}